:root {
    --main-red: #ff9b9b;
    --light-red: rgb(155, 43, 43);
    --main-yellow: goldenrod;
    --light-yellow: rgb(215, 181, 96);
    --main-green: #9bffa6;
    --light-green: rgb(115, 222, 211);
    --main-background: #282c34;
    --light-background: #282c34;
    --dark-background: #1b1c2c;
    --vowels: lime;
    --disabled: #323434;

    --main-purple: #391754;
    --main-pink: #fd34a6;
    --main-orange: #ff9e71;
    --main-yellow: #dbff9b;
    --main-teal: #4883a3;
  }

.menu {
    margin-top: 10%;
    background-color: var(--main-background);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.menuButtonHolder {
    margin-top: 5%;;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5em;
    padding: 4em 2em;
    border-radius: .5em;
    background-color: var(--dark-background);
}

.menuButton {
    padding: .5em;
    color: var(--main-purple);
    font-size: 3em;
    border: 1px solid var(--dark-background);
    transition: 0.2s;
}

.menuButton:hover, .menuButton:active {
    transform: scale(1.05);
}


.menuButton:first-child {
    background-color: var(--main-teal);
}

.menuButton:nth-child(2) {
    background-color: var(--main-yellow);
}

.menuButton:nth-child(3) {
    background-color: var(--main-green);
}
.menuButton:nth-child(4) {
    background-color: var(--main-orange);
}
.menuButton:nth-child(5) {
    background-color: var(--main-pink);
}

.menuButton:hover {
    border: 1px solid var(--main-background);
}

.gameBoard {
    background-color: var(--main-background);
    align-items: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    color:white;
    padding: 1em;
}

.gameBoard > div {
    border-radius: 25px;
    background-color: var(--light-background);
    padding: 1em;
}

.score {
    align-self: start;
    color: var(--main-pink);
}

.playspace {
    
}

.answers {
    height: 30vh;
}

.answers div {
    display: inline-block;
    border: solid 1px var(--main-green);
    border-radius: 2em;;
    color: var(--light-green);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0.25em 2em 0.6em 2em;
}

.input {
    min-height: 2rem;
}

.keyboard {
    display: grid;
    grid-gap: .25em;
    grid-template-areas: 
    "q w e r t y u i o p backspace backspace"
    "a s d f g h j k l submit submit submit"
    ". . z x c v b n m . . .";
}

button {
    padding: 1em;
    outline: none;
    border: 2px solid rgba(0,0,0, 0.15);
    border-top-color: rgba(253, 52, 166, 0.15);
    border-left-color: rgba(253, 52, 166, 0.15);
}

.keyboard > button:active {
    border: 2px solid rgba(0,0,0, 0.15);
    border-bottom-color: rgba(253, 52, 166, 0.15);
    border-right-color: rgba(253, 52, 166, 0.15);
}

.pressesLeft-0 {
    background-color: var(--disabled);
    animation-name: boop0;
    animation-duration: .1s;
}

.pressesLeft-1 {
    background-color: var(--main-red);
    animation-name: boop1;
    animation-duration: .1s;
}

.pressesLeft-2 {
    background-color: var(--main-yellow);
    animation-name: boop2;
    animation-duration: .1s;
}

.pressesLeft-3 {
    background-color: var(--main-green);
}

.press {
    animation-name: boop1;
    animation-duration: .1s;
}

@keyframes boop1 {
    0%   {transform: scale(1);}
    80%  {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

  @keyframes boop2 {
    0%   {transform: scale(1);}
    80%  {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

  @keyframes boop0 {
    0%   {transform: scale(1);}
    80%  {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  

.vowel {
    background-color: var(--main-orange);
}

.keyLetter {
    font-size: x-large;
}

.keyValue {
    font-size: x-small;
}

.resetHolder {
    grid-column: 2;
}

.reset {
    padding: 1em;
    background-color: #fd34a6;
}

.backspace {grid-area: backspace;}
.submit {grid-area: submit;}
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}
.g {grid-area: g;}
.h {grid-area: h;}
.i {grid-area: i;}
.j {grid-area: j;}
.k {grid-area: k;}
.l {grid-area: l;}
.m {grid-area: m;}
.n {grid-area: n;}
.o {grid-area: o;}
.p {grid-area: p;}
.q {grid-area: q;}
.r {grid-area: r;}
.s {grid-area: s;}
.t {grid-area: t;}
.u {grid-area: u;}
.v {grid-area: v;}
.w {grid-area: w;}
.x {grid-area: x;}
.y {grid-area: y;}
.z {grid-area: z;}



@media only screen and (max-width: 600px) { 
    .gameBoard, .gameBoard > div, button {
        padding: .2em;
    }

    .keyboard {
        display: grid;
        grid-gap: .25em;
        grid-template-areas: 
        "q w e r t y u i o p "
        "a s d f g h j k l backspace"
        ".  z x c v b n m submit submit";
    }
}